@import "../../../style/globalMixins.scss";

@import "./mixin.scss";
// basic

.pk-button {
  display: inline-block;
  font-family: inherit;
  font-weight: $button-font-weight;
  margin: 0;
  outline: none;
  text-align: center;
  box-sizing: border-box;
  -webkit-appearance: none; // 改变任何元素的浏览器默认风格
  border: $border-base;
  transition: border-color 0.25s;
  cursor: pointer;

  @include button-size(
    $button-padding-vertical,
    $button-padding-horizontal,
    $button-font-size,
    $button-border-radius
  );
  @include button-type-blocks($text-color, $white-color, $border-color);

  @include when(disabled) {
    position: relative;
    cursor: not-allowed;
    
    &:before {
      content: "";
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: hsla(0,0%,100%,.35); // 这么写，会有个bug，因为icon有个 animate的动画，所以icon的颜色并没有被覆盖上，
    }
  }
  // subilings
  & + & {
    margin-left: 8px;
  }

  // size
  &.pk-button-small {
    @include button-size(
      $button-padding-vertical-small,
      $button-padding-horizontal-small,
      $button-font-size-small,
      $button-border-radius-small
    );
  }
  &.pk-button-large {
    @include button-size(
      $button-padding-vertical-lager,
      $button-padding-horizontal-lager,
      $button-font-size-lager,
      $button-border-radius-lager
    );
  }

  //type
  &.pk-button-primary {
    @include button-type-blocks($white-color, $primary-color, $primary-color);
  }
  &.pk-button-success {
    @include button-type-blocks($white-color, $success-color, $success-color);
  }
  &.pk-button-info {
    @include button-type-blocks($white-color, $info-color, $info-color);
  }
  &.pk-button-warning {
    @include button-type-blocks($white-color, $warning-color, $warning-color);
  }
  &.pk-button-danger {
    @include button-type-blocks($white-color, $danger-color, $danger-color);
  }
  @include when(loading) {
    position: relative;
    pointer-events: none;

    &:before {
      pointer-events: none;
      content: "";
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: hsla(0,0%,100%,.35); // 这么写，会有个bug，因为icon有个 animate的动画，所以icon的颜色并没有被覆盖上，
    }
  }

}
