@import './utils/iconfonts/pk-icons.css';
.pk-icon-sync {
    animation: rotating 2s linear infinite;
}
@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.pk-icon--right {
  margin-left: 5px;
  
}
.pk-icon--left {
  margin-right: 5px;
}
